# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Build artifacts
build/
dist/
*.so
*.egg-info/

# Cython caches
.pytest_cache/
.mypy_cache/

# Logs and runtime output
logs/
measurements/
field_data/post-results/
plots/
*.npy

# Jupyter
.ipynb_checkpoints/

# Local env
.venv/
venv/
.env

# Tooling/local editor state
cython_debug/
*.swp
*.swo

# OS files
.DS_Store
